body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

.container {
  padding: 30px;
}

.card {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  width: 300px;
}

.status {
  font-weight: bold;
}

.passed {
  color: green;
}

.failed {
  color: red;
}